<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th colspan="3">Operations</th>
    </tr>

    <tr th:each="user, state : ${users}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${user.id}">Id</td>
        <td th:utext="${user.name}">Name</td>
        <td th:utext="${user.surname}">Surname</td>
        <td><form th:method="GET" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Get"/>
        </form></td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form></td>

    </tr>


</table>

<br>
<hr/>

<a href="/users/new">Create new user</a>


</body>
</html>
